# NÃO COMMITAR ESTE ARQUIVO
sheet_id = "ID_DA_SUA_PLANILHA"

[gcp_service_account]
type = "service_account"
project_id = "SEU_PROJETO"
private_key_id = "CHAVE_ID"
private_key = "-----BEGIN PRIVATE KEY-----\nCOLE_A_CHAVE_AQUI\n-----END PRIVATE KEY-----\n"
client_email = "service-account@SEU_PROJETO.iam.gserviceaccount.com"
client_id = "CLIENT_ID"
token_uri = "https://oauth2.googleapis.com/token"
